*{
    margin: 0;
    padding: 1px;  
}

header{
    background-color: royalblue;
    background-image: url(img/pattern.png);   
    height: 300px;
}


.spazio{
    margin-bottom: 20px;
}

.spazio.footer{
    margin-bottom: 10px;
}

#foto{
    height: 100px; 
    margin-top: 200px;
}

h4{
    color: gray;
}

.testo{
    color: gray;
}

#testo_azzurro{

    color: lightskyblue;
}

.elenco{
    padding-left: 18px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    color: white;
    margin: 20px;
    padding: 5px;
}

th,td{
    margin: 30px;
    padding: 15px;
}

th{
    text-align: left;
    background-color: steelblue;
    width: 20%;
}

#riga_azzurra{
    background-color: lightskyblue;
}

.sfondo_colorato{
    background-color:yellow;
}





